body::before{
    height: 80px;
    display: block;
    content: '';
}
.input-live{
    width: 65%;
}
@media screen  and (max-width: 567px){
    body::before{
        content: '';
        height: 145px;
        display: block;
    }
    .input-live{
        width: 100%;
    }
    
}
@media screen  and (min-width: 567px){
    body::before{
        content: '';
        height: 140px;
        display: block;
    }
    
}
@media screen  and (min-width: 768px){
    body::before{
        content: '';
        height: 130px;
        display: block;
    }
    
}
@media screen  and (min-width: 992px){
    body::before{
        content: '';
        height: 80px;
        display: block;
    }
    
}
@media screen  and (min-width: 1200px){
    body::before{
        content: '';
        height: 80px;
        display: block;
    }
    
}
@media screen  and (min-width: 1400px){
    body::before{
        content: '';
        height: 80px;
        display: block;
    }
    
}